extends base.pug


block style
		style
			include ../static/style.css
			include ../static/responsive.css
			
block content
		h1.heading THIS IS ABOUT PAGE
		div.container 
			div.bold    AT PULSE8 GYM, WE PROVIDE YOU THE BEST SPORT ENVIRONMENT

			div.normal_div   If your goal is to build muscle, our large range of free weight equipment will help you increase muscle mass in a safe and efficient way. From dumbbells up to 50kg (in most gyms), weights benches and squat racks, to plate-loaded equipment (in most gyms) your 
				fitness will go from strength to strength. Our wide range of classes can help you tone muscle and burn fat at your own pace. Plus, there's the added motivation of working out in a group environment with like-minded people.
				less exhausted. According to researchers, endorphins help minimize discomfort when exercising, basically blocking pain and replacing it with a feeling of happiness.
			
