extends base.pug


block style
		style
			include ../static/style.css
			include ../static/responsive.css
			
block content
		h1.heading THIS IS OUR SERVICES PAGE
		div.container 
			div.bold WORK OUT
				div.normal_div   Break a sweat, flex your muscles, fill your lungs, pump your heart… feel more alive.

				
			div.bold WELLNESS & NUTRITION
				div.normal_div   360 Degree Fitness is proud to present an exclusive wellness and nutrition program.

				
			div.bold EVENTS & SCHEDULE
				div.normal_div   We keep you updated with events that are held and the upcoming events of the month.
				
			div.bold  HARDCORE ZONE
				div.normal_div   The hardcore zone is a new concept developed by 360 Degree Fitness where you can push
				
			div.bold  RELAX & INDULGE
				div.normal_div   Healthy Living is the norm @ 360 Degree Fitness. Our in-house café offers
				
			div.bold MEMBERSHIP
				div.normal_div   360 Degree Fitness membership entitles you to access Hyderabad's premier gym, for a truly all 

