extends base.pug


block style
		style
			include ../static/style.css
			include ../static/responsive.css
			
block content
		div.container
			h1.heading HOW TO GAIN STAMINA
			div.bold There are lots of ways to build up your stamina, and it’s not only about hoofing it to the gym. Ready to start working on that endurance? Stick it out, and we promise you’ll see results.
				Here are 10 science-backed tips for increasing stamina.
			
			h1 1. Exercise consistently
			div.normal_div   When you’re feeling tired, you’re more likely to think, “I need to lay down,” rather than, “I need to get up and move my body.” But consistent exercise is a really important part of improving stamina and giving you a much-needed energy boost.
				One 2017 study found that fatigued participants were able to improve their energy levels after 6 weeks of exercise intervention.
				Exercise also releases endorphins, which help you feel less exhausted. According to researchers, endorphins help minimize discomfort when exercising, basically blocking pain and replacing it with a feeling of happiness.
			
			h1 2. Eat a balanced diet
			div.normal_div   A balanced diet is important for sustained energy throughout workouts and throughout your day in general. Aim to eat mostly whole foods — think plenty of fruits, vegetables, protein, and healthy fats — while limiting sugar and processed foods.
				And don’t forget carbohydrates. It’s easy to demonize carbs, but they’re an important part of balanced nutrition — especially when it comes to exercise.
				A 2015 study found that eating carbohydrates a few hours before working out can increase energy, improve performance, and prevent you from experiencing exhaustion right away.
				Since carbs are our bodies’ fuel source, foods like whole grains, potatoes, pasta, and rice should make up one-third of what you eat.
				| However, if your wellness goals include weight loss or managing diabetes, you may want to consider limiting carbs. Ask your doctor to hook you up with a registered dietician to figure out your ideal meal plan.
			
			h1 3. Stay hydrated
			div.normal_div  Dehydration can leave you feeling weak, fatigued, and mentally exhausted as well.
				Studies have found that staying properly hydrated before, during, and after training can enhance performance, delay fatigue, and prevent injuries. You should always drink the proper amount of water throughout the day.
				| However, keep in mind that overhydrating can have negative effects as well.
				Research shows that being too hydrated can impair performance and increase stress levels, partially because it can leave you feeling very full and can also make you have to urinate more.
				While water is your best bet, some studies have shown that sports drinks that are low in sugar and contain electrolytes may boost performance and help increase stamina.
			
			h1 4. Take a shot… of caffeine
			div.normal_div   Caffeine has been shown to improve exercise performance and increase energy.
				One study found that combining caffeine and carbs improved performance by 9 percent compared to just drinking water, and by 4.6 percent compared to just ingesting carbs.
				Other research found that drinking coffee can reduce the perception of effort, which allows you to work harder.
			
			h1 5. HIIT it
			div.normal_div    While many people recommend doing longer workouts in order to improve stamina, research shows that short, intense blocks of exercise, like HIIT sets, may be more effective. One 2018 study found that a 20-minute HIIT workout can be twice as effective as running or cycling in building up endurance.
				Another study found that HIIT based running plans showed significant athletic performance improvements in endurance runners as these improved the maximal oxygen uptake.
				Try this bodyweight-only HIIT workout, or create your own HIIT circuit.
			
			h1 6. Add a dash of plyometrics
			div.normal_div    Plyometrics are the cheetahs of exercise — they’re explosive movements that force you to exert maximum force in short periods of time.
				A 2016 study of female soccer players found a 6-week plyometric training program improved performance in jumping, sprinting, change of direction, and endurance.
				Here are 18 plyometric exercises to get ya started!
			
			h1 7. Take it down a notch with yoga and meditation
			div.normal_div     When you’re feeling really stressed out, your stamina won’t be as high. That’s where yoga and meditation come in — both can help reduce feelings of anxiety and stress, which can, in turn, help you improve stamina and boost endurance.
				One 2016 study looked at 27 medical students who did yoga and meditation for 6 weeks, and they saw significant reduction in stress and reported more endurance and less fatigue.
			
			h1 8. Switch things up, but be consistent
			div.normal_div    While the idea of a “fitness plateau” is mostly myth, science shows us that if we only do one type of exercise, our bodies will eventually stop making progress (aka gains).
				| However, constantly switching things up can actually deter progress. So what’s a person to do? For maximum stamina gains, commit to a workout you like 3 to 4 days a week.
				When you start to notice that you’re losing motivation or not making progress, switch up the routine within that workout.
				If you enjoy HIITs, make sure the exercises vary from week to week or play with the time (try 15 minutes one day, 45 the next). If you love to cycle or run, mix in some shorter speed intervals between your distance workouts.
				The key here is to keep showing up for your workouts. Keep at it, and your stamina will rise like a buff phoenix out of very sweaty ashes.

			h1 9. Listen to music
			div.normal_div    It’s not just in your head: Listening to music that gets you moving can really improve stamina.
				One study found that participants had a lowered heart rate when working out while listening to music, which means they were able to use less effort and work out longer without getting as tired.
				Another study had similar results, finding that participants who exercised with music exercised longer than those who exercised without music. The conclusion was that music can increase exercise performance, delay fatigue, and increase endurance, power, and strength.
				Wanna get your body moving and grooving? Check out this awesome playlist.
			
			h1 10. Prioritize rest and recovery
			div.normal_div   After all that hard work, schedule in some R&R. It almost sounds counterintuitive, right?
				But it’s true — getting the proper amount of rest is incredibly important in improving stamina. One study found that sleep deprivation can cause you to get fatigued faster than you would if you got the right amount of sleep.
				And it’s not just about getting enough sleep at night. You should also be resting in between sets when working out. There’s evidence on the benefits of various techniques of recovery between workouts, too. Giving your muscles time to rest between sets and between workouts is key to preventing soreness, muscle damage, and inflammation.
