extends base.pug


block style
		style
			include ../static/style.css
			include ../static/responsive.css
			
block content
		div.container 
			h1.heading HOW TO GAIN MUSCLE
			div.bold Eating fewer processed foods, drinking more green tea, and taking probiotics are just a few of the natural methods that can promote weight loss. Establishing an exercise or a sleep routine can also help.  There’s a lot of bad weight loss information on the internet. Much of what’s recommended is questionable at best, and not based on any actual science.
				| However, there are several natural methods that have actually been proven to work. Here’s how to get started.			div | Eating fewer processed foods, drinking more green tea, and taking probiotics are just a few of the natural methods that can promote weight loss. Establishing an exercise or a sleep routine can also help.
			
			h1 1. Eat Enough Calories
			div.normal_div   When looking to build muscle, you need to make sure that you are eating enough calories to fuel hard training, recovery, and muscle growth.
				| Everyone’s needs are individual, however, you will want to make sure you are eating 5-10% more than your total daily energy expenditure. This will allow you to train hard, live your current lifestyle outside the gym, and still have enough calories to build new tissue. 
				You can use this TDEE calculator to determine your caloric needs to maintain your current weight. 
				If you are lean and looking to add muscle quickly, increase your calories by 5-10% and check out this bulking guide. 
				If you are not as lean yet and want to build muscle, start a lifting program and monitor your progress. You can always adjust your calories as needed by referring to this article.
			
			h1 2. Train With Weights Over Cardio
			div.normal_div   Cardio doesn’t necessarily kill your muscle gains, however, it does very little to help promote muscle growth directly. 
				If you are looking to gain muscle, you need to train with weights. Cardio can help to increase your overall endurance to allow you to train hard with weights (if you notice you are always out of breath), however, cardio should not be your primary focus in your workouts.
				Aim to lift weights at least 4 times per week if you want to gain muscle fast. This will allow you to train each muscle at least twice per week. 
				Cardio should be used sparingly, and should not conflict or compete with resistance training for training time or your training energy.
			
			h1 3. Train with Heavy Weights
			div.normal_div   When looking to build muscle, you want to make sure you are training with loads that are challenging enough to do the trick. 
				Training with heavy weights (5-10 rep range) is a great way to stress a lot of muscle tissue at once and also increase strength. When increasing both strength and muscle, you enable yourself to progressively overload the movements (adding more weight or volume) and continue your muscle growth for months.
				Aim to train in the 5-10 rep range for at least one movement per muscle group. You don’t need to exclusively train heavy though, as there are many benefits to training in moderate and lighter rep ranges as well.
			
			h1 4. Lift Light Weights, Too
			div.normal_div   Lifting lighter loads can increase muscle growth and blood flow to a tissue and is a great way to round out a well-written muscle-building program. 
				When you train with lighter loads, it is important that you train close to or very near muscular failure. 
				Training with light to moderate loads for muscle growth is ideal when using machines, free weights, and isolation exercises as this allow you to concentrate on a muscle specifically and train it without fatiguing other areas.
				Aim to train moderate to light loads in your program as well. A good program should include a variety or rep ranges to maximize both muscle building and general strength gains. If you need help with a program, check out the Fitbod app and get training today!
			
			h1 5. Train a Muscle to Near Failure (Most of the Time)
			div.normal_div    Training hard is a necessary part of building muscle, however many people are left to ask, how hard should they really train. 
				Research has shown that short-term bouts (few weeks or progressively increasing intensity) of training to or near failure can help promote muscle growth, increase motor unit activation, and potentially increase growth hormone secretion.
				When training for muscle growth, you want to make sure you are training with an intensity that stresses the muscle tissues and allows you to accumulate enough volume to signal muscle growth. 
				This is often a moving target and can vary from individual to individual, however, the effort put into each set should remain constant.
				For most people, you want to train at a level of intensity that has you leaving 0-2 reps left in the tank after any given set (i.e. you finish your set and say to your self “I probably could have only one 1 or 2 more reps). 
				As well, your form should not suffer, as training to failure or near failure means you are still with proper form and control. 
			
			h1 6. Don’t Always Train to Failure With Very Heavy Weight
			div.normal_div    There is an exception to the train to failure or very near failure rule discussed above, and that is when using heavy loads. 
				If you are using a weight where you cannot perform more than 5 reps with (more strength-building rep ranges), training to failure can have a negative effect. 
				This is because it will be very difficult to accumulate enough training volume to stimulate muscle growth. 
				| Additionally, the heavier the loads the more stress is placed on the connective tissues and bones, which when done to fatigue and in high volumes, and heavy loading, can result in overuse injury or injury.
				When training with heavy loads (a weight that you cannot do more than 5 reps with perfect form), aim to keep 1-2 perfect reps left in the tank at all times. This will ensure you can move with good form, not overly stress the connective tissues and bones, and not be subjected to a sidelining injury.
			
			h1 7. Supplement with Creatine
			div.normal_div     Creatine has been shown to increase short-term strength and power (5-15%), sprint performance, and maximal effort muscle contractions (5-15%). 
				Increases in those areas can enhance your ability to train hard, lift more weight, and perform more intense training which can lead to more muscle growth. 
				When looking to supplement with creatine, aim to ingest 5g per day of creatine monohydrate.
			
			h1 8. Train a Muscle 2, Even 3 Times Per Week
			div.normal_div     Research suggests that training a muscle directly three times per week can help build more muscle than training it once or twice per week. 
				By training a muscle more frequently, you can increase muscle protein synthesis and keep natural anabolic hormone levels elevated throughout the week and be in a more readily state of muscle growth, for longer.
				If you are looking to maximize muscle growth, train each muscle at least twice per week. If you want to take an additional training day to devote to a particular area of concern, train it three times a week. 
				If you need help developing a program, check out the Fitbod app!

			h1 9. Drink Carbs During Your Workouts
			div.normal_div    Drinking carbs during a workout (or in the workout time frame) is a great way to increase muscle growth, start the recovery process, and refuel the muscle bellies with the necessary glucose.
				Research suggests that ingesting carbohydrates during or immediately after resistance training has been shown to increase muscle protein synthesis, initiate the muscle recovery process, and can also help increase performance during training.
				Most people could aim to consume 30-60g of carbohydrates during a hard, weight training session that is 60-90 minutes long.
			
			h1 10. Progress One Training Variable, Every Session
			div.normal_div   Progressive overload is a key component of muscle growth and strength development. When training in the gym, you want to make sure that you are progressing in at least one area, every workout (with the exception of deloads). 
				Below are some ways you can progress your workouts, which can be done by adjusting the loading or manipulating other variables, all of which can improve performance:
				
				ul.muscle_ul
					li Increase the weight on the exercise by 2-3%, and perform the same amount of reps and sets as the week prior.
					li Keep the same weight as the week prior on a given exercise, but perform a few more reps per set, or add one extra work set than the previous week.
					li Keep the same amount of loading, sets, and reps on a given exercise, but slow down the movement to increase the total time under tension
					li Increase the range of motion at which you are training a movement, such as trying to squat lower with the same weight you did in previous weeks.
