extends base.pug


block style
		style
			include ../static/style.css
			include ../static/responsive.css
			
block content
		div.container
			h1.heading HOW TO LOSE WEIGHT
			div.bold Eating fewer processed foods, drinking more green tea, and taking probiotics are just a few of the natural methods that can promote weight loss. Establishing an exercise or a sleep routine can also help.  There’s a lot of bad weight loss information on the internet. Much of what’s recommended is questionable at best, and not based on any actual science.
				| However, there are several natural methods that have actually been proven to work. Here’s how to get started.			div | Eating fewer processed foods, drinking more green tea, and taking probiotics are just a few of the natural methods that can promote weight loss. Establishing an exercise or a sleep routine can also help.
			
			h1 1. Add protein to your diet
			div.normal_div   When it comes to weight loss, protein is the king of nutrients.
				Your body burns calories when digesting and metabolizing the protein you eat, so a high-protein diet can boost metabolism by up to 80–100 calories per day
				A high-protein diet can also make you feel more full and reduce your appetite. In fact, some studies show that people eat over 400 fewer calories per day on a high-protein die. Even something as simple as eating a high-protein breakfast (like eggs) can have a powerful effect
			
			h1 2. Prioritize whole, single-ingredient foods
			div.normal_div   One of the best things you can do to become healthier is to base your diet on whole, single-ingredient foods.
				By doing this, you eliminate the vast majority of added sugar, added fat, and processed food.
				Most whole foods are naturally very filling, making it a lot easier to keep within typical calorie limits (7Trusted Source).
				Eating whole foods also provides your body with the many essential nutrients that it needs to function properly.
				Weight loss often follows as a natural side effect of eating whole foods.
			
			h1 3. Limit processed foods
			div.normal_div   Processed foods are usually high in added sugars, added fats, and calories.
				| What’s more, processed foods are engineered to make you eat as much as possible. They’re much more likely to cause addictive-like eating than unprocessed foods (8Trusted Source).
			
			h1 4. Stock up on nutritious foods and snacks
			div.normal_div   Studies have shown that the food you keep at home greatly affects weight and eating behavior (9Trusted Source, 10Trusted Source, 11Trusted Source).
				By always having nutrient-dense food available, you reduce the chances of you or other family members eating less nutritious items.
				There are also many nutritious snacks that are easy to prepare and take with you on the go. These include yogurt, whole fruit, nuts, carrots, and hard-boiled eggs.
			
			h1 5. Limit your intake of added sugar
			div.normal_div    Eating a lot of added sugar is linked with some of the world’s leading diseases, including heart disease, type 2 diabetes, and cancer (12Trusted Source, 13Trusted Source, 14Trusted Source).
				On average, Americans eat about 15 teaspoons of added sugar each day. This amount is usually hidden in various processed foods, so you may be consuming a lot of sugar without even realizing it (15Trusted Source).
				Since sugar goes by many names in ingredient lists, it can be very difficult to figure out how much sugar a product actually contains.
				Minimizing your intake of added sugar is a great way to improve your diet.
			
			h1 6. Drink water
			div.normal_div    There’s actually truth to the claim that drinking water can help with weight loss.
				Drinking 0.5 liters (17 oz) of water may increase the calories you burn by 24–30% for an hour afterward (16Trusted Source, 17Trusted Source, 18Trusted Source, 19Trusted Source).
				Drinking water before meals may also lead to reduced calorie intake, especially for middle-aged and older people (20Trusted Source, 21Trusted Source).
				Water is particularly helpful for weight loss when it replaces other beverages that are high in calories and sugar (22Trusted Source, 23Trusted Source).
			
			h1 7. Drink (unsweetened) coffee
			div.normal_div     Coffee is loaded with antioxidants and other beneficial compounds.
				Coffee drinking may support weight loss by increasing energy levels and the amount of calories you burn (24Trusted Source, 25Trusted Source, 26Trusted Source).
				Caffeinated coffee may boost your metabolism by 3–11% and reduce your risk of developing type 2 diabetes by a whopping 23–50% (27Trusted Source, 28Trusted Source, 29Trusted Source).
				| Furthermore, black coffee is very weight loss friendly, since it can make you feel full but contains almost no calories.
			
			h1 8. Supplement with glucomannan
			div.normal_div     Glucomannan is one of several weight loss pills that has been proven to work. This water-soluble, natural dietary fiber comes from the roots of the konjac plant, also known as the elephant yam.
				Glucomannan is low in calories, takes up space in the stomach, and delays stomach emptying. It also reduces the absorption of protein and fat, and feeds the beneficial gut bacteria (30Trusted Source, 31Trusted Source, 32Trusted Source).
				Its exceptional ability to absorb water is believed to be what makes it so effective for weight loss. One capsule is able to turn an entire glass of water into gel.
			
			h1 9. Limit liquid calories
			div.normal_div    Liquid calories come from beverages like sugary soft drinks, fruit juices, chocolate milk, and energy drinks.
				These drinks can have a negative impact on your health in several ways, including an increased risk of obesity. One study showed a drastic 60% increase in the risk of obesity among children for each daily serving of a sugar-sweetened beverage (33Trusted Source).
				| It’s also important to note that your brain does not register liquid calories the same way it does solid calories, so you end up adding these calories on top of everything else that you eat (34Trusted Source, 35Trusted Source).
			
			h1 10. Limit your intake of refined carbs
			div.normal_div    Refined carbs are carbs that have had most of their beneficial nutrients and fiber removed.
				The refining process leaves nothing but easily digested carbs, which can increase the risk of overeating and disease (36Trusted Source, 37Trusted Source).
				The main dietary sources of refined carbs are white flour, white bread, white rice, sodas, pastries, snacks, sweets, pasta, breakfast cereals, and added sugar.
